<td>
  <img src="{{tea.item.imageUrl}}" alt="tea">
</td>
<td>
  <div class='item-header-container'>
    <h2>{{tea.item.name}} <small>- {{tea.item.price / 100 | currency}}</small></h2>
    <div>
      <span>
        <label for="quantity">Quantity: </label>
        <select id="quantity">
          <option selected value='1'></option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
        </select>
        <i class='fa fa-sort'></i>
      </span>
      <span>
        <button class='btn btn-warning'>Add To Bag</button>
      </span>
    </div>
  </div>
  <div class='item-body-container'>
    <div class='item-meta'>
      <em>Caffeine Scale:</em> <strong>{{tea.item.caffeineScale}} |</strong>
      <em>Rating:</em> <strong>{{tea.item.rating}} |</strong>
      <em>In Stock?</em> <strong>{{tea.item.inStock ? 'Yes' : 'No'}}</strong>
    </div>
    <div class="item-meta">
      <div class='row'>
        <div class="col-md-2">
          <h4>Categories:</h4>
        </div>
        <div class="col-md-10 item-category-container">
          <h4 class='item-category' ng-repeat='category in tea.item.categories'>
             {{category}}{{$last ? '' : ',&nbsp;'}} 
          </h4>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-2">
          <h4>Ingredients:</h4>
        </div>
        <div class="col-md-10 item-ingredients">
          <h4>{{tea.item.ingredients}}</h4>
        </div>
      </div>
    </div>
  </div>
</td>

