<div class="container teas">
  <table class='table table-striped table-bordered table-fixed'>
    <thead>
      <tr>
        <th>Tea</th>
        <th class='table-price-container'>
          <span>Information</span>
          <span>
            <label for="search-price">Sort by Price: </label>
            <select id="search-price" ng-model='items.sortByPrice'>
              <option selected></option>
              <option value="-price">Highest</option>
              <option value="price">Lowest</option>
            </select>
            <i class='fa fa-sort'></i>
          </span>      
        </th>
      </tr>
    </thead>
    <tbody>
      <tr tea-item 
          ng-repeat='
            item in items.list |
            filter: items.searchText ? items.searchText: "" | 
            filter: items.category ? items.category : "" | 
            orderBy: items.sortByPrice ? items.sortByPrice : ""
          'item='item'
      ></tr>
    </tbody>
  </table>
</div>