<!-- CURRENT NOT USING THIS TEMPLATE. PLANNING TO REFACTOR SO THAT THIS TEMPLATE CAN BE USED -->

<td>
  <img src="{{tea.item.imageUrl}}" alt="tea">
</td>
<td>
  <div class='item-header-container'>
    <h2>{{tea.item.name}} <small>- {{tea.item.price / 100 | currency}}</small></h2>
    <div>
      <span>
        <label for="quantity">Quantity: </label>
        <select id="quantity" ng-model='tea.quantity'>
          <option selected value="1"></option>
          <option ng-repeat='quantity in [2,3,4,5,6,7,8,9,10]'>{{quantity}}</option>
        </select>
        <i class='fa fa-sort'></i>
      </span>
      <span>
        <button class='btn btn-warning' ng-click='tea.addToBag(tea.item)'>Add To Bag</button>
      </span>
    </div>
  </div>
  <div class='item-body-container'>
    <div class='item-meta'>
      <em>Caffeine Scale:</em> <strong>{{tea.item.caffeineScale}} |</strong>
      <em>Rating:</em> <strong>{{tea.item.rating}} |</strong>
      <em>In Stock?</em> <strong>{{tea.item.inStock ? 'Yes' : 'No'}}</strong>
    </div>
    <div class="item-meta">
      <div class='row'>
        <div class="col-xs-2">
          <h4>Categories:</h4>
        </div>
        <div class="col-xs-10 item-category-container">
          <h4 class='item-category' ng-repeat='category in tea.item.categories'>
             {{category}}{{$last ? '' : ',&nbsp;'}} 
          </h4>
        </div>
      </div>
      <div class='row'>
        <div class="col-xs-2">
          <h4>Ingredients:</h4>
        </div>
        <div class="col-xs-10 item-ingredients">
          <h4>{{tea.item.ingredients}}</h4>
        </div>
      </div>
    </div>
  </div>
</td>